<div class="index">
    <img src="/images/beer.png" alt="beer" class="beer-size">
    <button type="button" class="btn btn-primary">
        <a class="nav-item nav-link" href="/beers">Check the Beers!</a>
    </button>
    <button type="button" class="btn btn-primary">
        <a class="nav-item nav-link" href="/randomBeers">Check a Random Beer</a>
    </button>
</div>